canvas{
    border: 1px solid black;
}

.f5-div-canvas {
    position: relative;
}
#tutorial1 {
    position: absolute;
}
#tutorial2 {
    position: absolute;
    z-index: 10;
}
#tutorial3 {
    position: absolute;
}

.f5--calendar-record{
    font-size: 10px;
    font-weight: 700;
    line-height: 1.1;
    color: rgb(0, 55, 0);
}


.f5--calendar-record:hover{
    cursor: pointer;
}